{% load static %}
<div class="row mb-2">
                <h3 class="bg-light p-2">Top articles</h3>
                {% for article in most_views %}
                <article class="col-6 col-sm-4 col-md-6 col-lg-6 col-xl-6 p-1">
                    <div class="ui small image">
                        <a class="d-inline" href="{% url 'detail' article.slug %}"> <img class="rounded border"
                                src="{% static article.cover.url %}"></a>
                    </div>
                </article>
                {% endfor %}
            </div>
            <div class="row mb-2">
                <h3 class="bg-light p-2">Réseaux sociaux</h3>
<div class="fb-like" data-href="https://www.facebook.com/malirapmusic04" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>            </div>