{% extends 'layouts/default.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{article.title}} - {% endblock %}

{% block content %}
<div class="row mt-2">
    <div class="bg-white p-4 shadow rounded-3 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="#">Albums</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Titre de l'album</li>
                    </ol>
                </nav>
                {% for category in article.category.all %}
                <a href="{% url 'find_category' category %}"><span class="badge rounded-pill bg-sugu">{{category}}</span></a>
                {% endfor %}
                <div class="row text-mac mb-4">
                    <h1>{{ article.title }}</h1>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="ui large image">
                            <img class="rounded border" src="{% static article.cover.url %}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <p class="text-muted text-justify small">
                            <span class="h4 d-block">Description</span>
                            {{ article.content }}
                        </p>
                        <ul class="list-unstyled small text-muted">
                            <li>
                                <span class="fa fa-eye"></span> {{ article.views }} Vues
                            </li>
                            {% if article.media.all %}
                            <li>
                                <span class="fas fa-download"></span> {{ article.download}} Téléchargements
                            </li>
                            {% endif %}
                            <li>
                                <span class="fa fa-clock"></span> {{ article.created_at|naturaltime }}
                            </li>
                        </ul>
                    </div>
                    {% if article.external_link %}
                        {% for link in article.external_link.all %}
                            <div class="m-4">
                                <h2 class="single-text-title">{{link.title}}</h2>
                            <iframe title="{{link.title}}" class="" width="640" height="360"
                            src="{{link.link}}?autoplay=0&mute=0&controls=1" allowfullscreen>
                            </iframe>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% for m in article.media.all %}
                    <p class="text-center">
                        <a class="text-decoration-none btn btn-sm btn-outline-sugu" href="static/{{m.url}}" download="static/{{m.url}}"><span
                                class="fa fa-download"></span> Télécharger</a>
                    </p>
                    {% endfor %}
                    <div class="fb-share-button" data-href="{% url 'detail' article.slug %}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
                    <div class="fb-comments mt-4" data-href="http://www.malirapmusic.net/posts/2802/" data-width="" data-numposts="5"></div>
                </div>
                <div class="row container p-4 shadow border bg-dark text-light rounded">
                    <div class="col-12">
                        <div class="d-grid gap-2">
                            <p class="text-center h3">S'inscrire à notre newsleter pour recevoir nos derniers articles !
                            </p>
                            <input class="form-control form-control-md" type="text"
                                placeholder="Saisissez votre adresse email" aria-label=".form-control-sm example">
                            <button class="bg-primary text-light btn btn-md btn-outline-sugu" type="button">S'inscrire à
                                la newsleter</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Articles similaires</h3>
                    <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                        <div class="ui medium image">
                            <a href="single.html"> <img class="rounded border"
                                    src="img/slider/gais-loup-bolon-kono.jpg"></a>
                            <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                                    - CLAXON (Par Zy Pagala Prod)</a></h1>
                            <ul class="list-unstyled small text-muted meta-title">
                                <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                                <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                                <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                            </ul>
                        </div>
                    </article>
                    <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                        <div class="ui medium image">
                            <a href="#"> <img class="rounded border" src="img/slider/young-respect.jpg"></a>
                            <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                                    - CLAXON (Par Zy Pagala Prod)</a></h1>
                            <ul class="list-unstyled small text-muted meta-title">
                                <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                                <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                                <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                            </ul>
                        </div>
                    </article>
                    <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                        <div class="ui medium image">
                            <a href="#"> <img class="rounded border" src="img/slider/silex-man-og-trap-lourd-o.jpg""></a>
                            <h1 class=" text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                    KHALIFA
                                    - CLAXON (Par Zy Pagala Prod)</a></h1>
                                <ul class="list-unstyled small text-muted meta-title">
                                    <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                                    <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                                    <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                                </ul>
                        </div>
                    </article>
                    <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                        <div class="ui medium image">
                            <a href="#"> <img class="rounded border"
                                    src="img/slider/gais-loup-freestyle-2019-01.jpg"></a>
                            <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                                    - CLAXON (Par Zy Pagala Prod)</a></h1>
                            <ul class="list-unstyled small text-muted meta-title">
                                <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                                <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                                <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                            </ul>
                        </div>
                    </article>
                    <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                        <div class="ui medium image">
                            <a href="#"> <img class="rounded border" src="img/slider/lil-bouna-hbd-bg-black.jpg"></a>
                            <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                                    - CLAXON (Par Zy Pagala Prod)</a></h1>
                            <ul class="list-unstyled small text-muted meta-title">
                                <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                                <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                                <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-black p-4 border rounded-3 col-sm-12 col-md-4 col-lg-3 col-xl-3 ms-lg-4">
        <aside>
            {% include 'articles/aside.html' %}
        </aside>
    </div>
</div>
{% endblock %}
