{% extends 'layouts/default.html' %}
{% load static %}

{% block slider %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border" src="{% static 'img/slider/feugo-khalifa-claxon.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border"
                                src="{% static 'img/slider/el-jay-gang-nouvelle-mixtape-negro-annonce01.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border" src="{% static 'img/slider/austin-family-hit.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border"
                                src="{% static 'img/slider/austin-family-n-teki-famou.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border"
                                src="{% static 'img/slider/austin-family-no-bla-bla-01.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border"
                                src="{% static 'img/slider/el-jay-gang-nouvelle-mixtape-negro-annonce01.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border" src="{% static 'img/slider/el-makito-be-bebe.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border" src="{% static 'img/slider/el-maskito-kamiwamba.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
                <article class="col-4 col-md-4 col-lg-4">
                    <div class="ui large image">
                        <a href="#"> <img class="rounded border"
                                src="{% static 'img/slider/fire-wiz-mixtape-dibala-san.jpg' %}"></a>
                        <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                                KHALIFA
                                - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="row mt-2">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="row">
            <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                <div class="ui medium image">
                    <a href="single.html"> <img class="rounded border"
                            src="{% static 'img/slider/gais-loup-bolon-kono.jpg' %}"></a>
                    <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                            - CLAXON (Par Zy Pagala Prod)</a></h1>
                    <ul class="list-unstyled small text-muted meta-title">
                        <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                        <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                        <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                    </ul>
                </div>
            </article>
            <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                <div class="ui medium image">
                    <a href="#"> <img class="rounded border" src="{% static 'img/slider/young-respect.jpg' %}"></a>
                    <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                            - CLAXON (Par Zy Pagala Prod)</a></h1>
                    <ul class="list-unstyled small text-muted meta-title">
                        <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                        <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                        <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                    </ul>
                </div>
            </article>
            <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                <div class="ui medium image">
                    <a href="#"> <img class="rounded border" src="{% static 'img/slider/silex-man-og-trap-lourd-o.jpg' %}"></a>
                    <h1 class=" text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO
                            KHALIFA
                            - CLAXON (Par Zy Pagala Prod)</a></h1>
                        <ul class="list-unstyled small text-muted meta-title">
                            <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                            <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                            <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                        </ul>
                </div>
            </article>
            <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                <div class="ui medium image">
                    <a href="#"> <img class="rounded border"
                            src="{% static 'img/slider/gais-loup-freestyle-2019-01.jpg' %}"></a>
                    <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                            - CLAXON (Par Zy Pagala Prod)</a></h1>
                    <ul class="list-unstyled small text-muted meta-title">
                        <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                        <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                        <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                    </ul>
                </div>
            </article>
            <article class="col-6 col-sm-6 col-md-6 col-lg-4 col-lg-4">
                <div class="ui medium image">
                    <a href="#"> <img class="rounded border" src="{% static 'img/slider/lil-bouna-hbd-bg-black.jpg' %}"></a>
                    <h1 class="text-title mt-1"><a class="text-decoration-none text-dark" href="#">FUEGO KHALIFA
                            - CLAXON (Par Zy Pagala Prod)</a></h1>
                    <ul class="list-unstyled small text-muted meta-title">
                        <li class="d-inline-block"><span class="fas fa-clock"></span> Il y'a 2minutes |</li>
                        <li class="d-inline-block"><span class="fas fa-eye"></span> 200 |</li>
                        <li class="d-inline-block"><span class="fas fa-download"></span> 200</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
    <div class="ui sticky col-sm-12 col-md-4 col-lg-4 col-xl-4 border-start">
        <aside>
            <h3>Top article</h3>
        </aside>
    </div>
</div>
{% endblock %}