{% extends 'layouts/default.html' %}
{% load static %}

{% block content %}
<form method="POST" action="{% url 'cont' %}">
    {% csrf_token %}
    <div class="form-group mb-3">
        <input class="form-control" name="username" type="text" placeholder="Username">
    </div>
    <div class="form-group mb-3">
        <input class="form-control" name="password" type="password" placeholder="Password">
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-outline-sugu">Se connecter</button>
    </div>
</form>
{% endblock %}