{% extends 'layouts/default.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{title|title}} - {% endblock %}

{% block content %}
<div class="row mt-2">
    <div class="bg-white p-4 shadow rounded-3 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="row text-mac text-justify">
            <h2 class="h1 border-bottom">À propos de nous</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae consectetur corporis, cum
                cupiditate dolorem doloribus est facilis illum incidunt inventore natus officia possimus quas rerum
                saepe, sed ut! Nisi.
            </div>
            <div>Accusantium alias consequatur dignissimos earum id illum impedit modi quaerat quo velit. Culpa dicta,
                facere officia provident quia quisquam quos tempore totam. Corporis earum fugiat neque numquam omnis
                porro voluptate.
            </div>
            <div>Accusantium alias animi at atque corporis doloribus, dolorum, ea eius esse facere facilis harum hic
                magni necessitatibus neque nihil nulla perferendis placeat provident quisquam recusandae reiciendis
                repellendus sit tempora ut.
            </div>
            <div>Architecto dolor, dolores ea illum magnam, nobis odio, pariatur quod rerum saepe tempora tempore
                voluptate voluptates! Ab adipisci consectetur, et facere in magni mollitia perspiciatis! Beatae est in
                mollitia! Accusamus?
            </div>
            <div>Adipisci consequatur magni modi odit repellendus? Dolore ex libero minima quae vel, velit voluptatem
                voluptatibus. Accusamus aperiam aut ea eius illo illum impedit laborum, libero obcaecati optio, quae
                reiciendis sequi!
            </div>
            <div>Ad commodi deserunt ducimus molestias? Accusamus at atque consectetur delectus dolore eos eveniet iste
                libero magni minima mollitia nobis non, quaerat quisquam, saepe soluta tempore tenetur totam voluptate
                voluptates, voluptatibus.
            </div>
            <div>Accusamus cum debitis, delectus exercitationem libero magni perferendis sunt. Accusantium, ad autem
                deleniti eius in ipsum minus non obcaecati optio perspiciatis quos repellat sunt unde. Aperiam
                consequatur inventore nihil vel?
            </div>
            <div>Animi cumque minus, nulla optio sed velit. A ab accusamus architecto aut cupiditate, debitis dolorem ea
                esse explicabo ipsum iure nihil non placeat qui recusandae repellat temporibus veritatis voluptate
                voluptates.
            </div>
            <div>A aliquid at cumque cupiditate doloremque dolorum earum esse ipsam modi nihil nobis odio officiis
                quibusdam, quod quos ratione repellat! A, aliquam animi beatae cumque molestias natus quos veritatis
                voluptate.
            </div>
            <div>Architecto aspernatur commodi cupiditate dignissimos distinctio dolorem doloribus eius eos
                exercitationem expedita facilis, id illum iure iusto libero magni molestias neque nihil obcaecati omnis
                quia quidem tempore temporibus vel voluptate.
            </div>
        </div>
    </div>
    <div class="bg-black p-4 border rounded-3 col-sm-12 col-md-4 col-lg-3 col-xl-3 ms-lg-4">
        <aside>
            {% include 'articles/aside.html' %}
        </aside>
    </div>
</div>
{% endblock %}